<style type="text/css" media="all">
				.tile .tile-body i{ font-size:36px;}
				.tile .tile-object p{text-align:center; font-size:20px; color:#000; font-weight:800; font-family:Lato;}
				.tile_inicio{margin-left:5px;"}
				.tile_fin{margin-right:0px;}
			</style>
            
            <div class="row recent-work margin-bottom-40 tile_inicio">
                
                <div class="tile double bg-red selected">
                    <div class="corner">
					</div>
					<div class="check">
					</div>
					<div class="tile-body animated flip" animation_type="fadeInDown">
						<i>524</i>
					</div>
                    " id="reading-box-container-1" 
					<div class="tile-object animated fadeInDown" animation_type="fadeInDown">
                        <p style="">Impresoras 3D</p>
					</div>
				</div>
           
                <div class="tile double bg-blue selected">
					<div class="corner">
					</div>
					<div class="check">
					</div>
					<div class="tile-body">
						<i>380</i>
					</div>
					<div class="tile-object">
						<p style="text-align:center;">Diseñadores CAD</p>	
					</div>
				</div>
                
                <div class="tile double bg-green selected">
					<div class="corner">
					</div>
					<div class="check">
					</div>
					<div class="tile-body">
						<i>103</i>
					</div>
					<div class="tile-object">
						<p style="text-align:center;">Ciudades conectadas</p>
				    </div>
				</div>
                
                <div class="tile double bg-purple selected tile_fin">
					<div class="corner">
					</div>
					<div class="check">
					</div>
					<div class="tile-body">
						<i>805</i>
					</div>
					<div class="tile-object">
						<p style="text-align:center;">Objetos impresos</p>
						</div>
					</div>
				</div>
                
                
                
            <!--LOGIN -->
            
<form >           
                    <div class="caption">
                  <h4><i class="glyphicon glyphicon-refresh" ></i>&nbsp;Login a you3Dit</h4>
                </div>
                    <div class="alert alert-danger " id="div_error_form"><!-- display-hide -->
                                                <button class="close" data-close="alert"></button>
                                                Hay errores en el formulario de acceso. Comprueba los datos.
                                            </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" class="form-control" placeholder="E-mail"></input><!--E-mail-->
                    </div>                    
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Contraseña"><!-- Password-->
                    
                    
                    </div>                    
                    <a href="#" class="login-signup-forgot-link">¿Has olvidado tu contraseña?</a><!-- Forgot you password?-->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="checkbox-list">
                            	<label class="checkbox" style="margin-left:20px;"><input type="checkbox"> Recordarme</label></div> <!-- Remember me -->                       
                        </div>
                        <div class="col-md-6 col-sm-6">  
                        	   <!-- Sign in -->                   
                        	<!--
                            <button type="submit" class="btn green theme-btn pull-right">Identificate</button>
                            -->
                                   
                                   <a class="btn green theme-btn pull-right" id="loginOK">Identificate
									 </a>
                                           
                        </div>
                    </div>

                    <hr>

                    <div class="login-socio">
                        <p class="text-muted">Accede con:</p> <!-- or login using -->
                        <ul class="social-icons">
                            <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                            <!--<li><a class="twitter" data-original-title="Twitter" href="#"></a></li>-->
                            <li><a class="google" data-original-title="Goole" href="#"></a></li>
                            <!--<li><a class="linkedin" data-original-title="Linkedin" href="#"></a></li>-->
                        </ul>
                        
                    </div>
                </form>
               
               
               <div class="form-group has-error">
                        <label class="col-md-4 control-label">Email<span class="required" aria-required="true">
                        * </span>
                        </label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                                </span>
                                <input type="email" name="email" class="form-control" placeholder="Email Address" aria-required="true">
                            </div><span for="email" class="help-block">Este campo es obligatorio.</span>
                        </div>
                    </div>
                    
                    <div class="form-group has-error">
                        <label class="col-md-4 control-label">Contraseña<span class="required" aria-required="true">
                        * </span>
                        </label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                                </span>
                                <input type="password" name="password" class="form-control" placeholder="Contraseña" aria-required="true">
                            </div><span for="password" class="help-block">Este campo es obligatorio.</span>
                        </div>
                    </div>
                