/* here you can put your own css to customize and override the theme */


/*LOGO*/
.site-logo {
  float: left;
  font-size: 23px;
  font-weight: 400;

  margin-right: 67px;
  padding-top: 12px;
  padding-bottom: 22px;
}
.page-logo a.site-logo{
		min-width:180px !important; /*Marcara la distancia del texto al logo */
		background-image:url(../../../../assets/_img/logo_you3dit_X1.fw_jlchip.png) !important; 
        background-repeat:no-repeat !important; background-position: right center !important; background-color:transparent !important;
}

.page-header.navbar {
  background-color: #fff;
  /* Top notification menu/bar */
  /* Header seaech box */
  /* Toggler button for sidebar expand/collapse and responsive sidebar menu */
}