@charset "UTF-8";

@font-face {
  font-family: "you3dit-fonts-ext";
  src:url("../fonts/you3dit-fonts-ext.eot");
  src:url("../fonts/you3dit-fonts-ext.eot?#iefix") format("embedded-opentype"),
    url("../fonts/you3dit-fonts-ext.woff") format("woff"),
    url("../fonts/you3dit-fonts-ext.ttf") format("truetype"),
    url("../fonts/you3dit-fonts-ext.svg#you3dit-fonts-ext") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "you3dit-fonts-ext" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "you3dit-fonts-ext" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3d39:before {
  content: "a";
}
.icon-cittadinosymbols-webfont:before {
  content: "b";
}
.icon-fontawesome-webfont:before {
  content: "c";
}
.icon-fontawesome-webfont-1:before {
  content: "d";
}


@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 18px;
font-style: normal;

}.flaticon-3d39:before {
	content: "\e000";
}
.flaticon-website8:before {
	content: "\e001";
}
