/* here you can put your own css to customize and override the theme */

.vertical-space, .vertical-space1, .vertical-space2, .vertical-space3, .vertical-space4, .vertical-space5 { display:block; width:100%; margin:0; clear:both; border:0 none; height:20px; }
.vertical-space2 { height:40px; }
.vertical-space3 { height:60px; }
.vertical-space4 { height:80px; }
.vertical-space5 { height:100px; }

*+html hr.vertical-space, *+html hr.vertical-space1, *+html hr .vertical-space2, *+html hr.vertical-space3, *+html hr.vertical-space4, *+html hr.vertical-space5 { height:0px; margin:10px 0; background:#fff; border:1px solid #fff;}
*+html hr.vertical-space2 { margin:20px 0; }
*+html hr.vertical-space3 { margin:30px 0; }
*+html hr.vertical-space4 { margin:40px 0; }
*+html hr.vertical-space5 { margin:50px 0; }


.header-navigation .dropdown-menu {
  /*box-shadow: 5px 5px rgba(91, 91, 91, 0.2);*/
  box-shadow: 3px 3px rgba(103, 189, 60, 0.2);
}

.header-navigation li.menu-search span.sep2 {
	top: 0;
	width: 1px;
	height: 26px;
	background: #eaeaea;
	position: relative;
	margin: 0 0px 0 20px;
	display: inline-block;
}
.header-navigation .search-box {
	/*box-shadow: 5px 5px rgba(91, 91, 91, 0.2);*/
	box-shadow: 2px 2px rgba(91, 91, 91, 0.2);
}
.header-navigation .search-box:after { 
	right: 30px;
}

/*TAMAÑO FUENTE MENU*/
.header-navigation {
	font: 14px "Open Sans", sans-serif;
}

/*LOGO*/
.header a.site-logo{
		min-width:180px !important; /*Marcara la distancia del texto al logo */
		background-image:url(../../../../assets/_img/logo_you3dit_X1.fw_jlchip.png) !important; 
        background-repeat:no-repeat !important; background-position: right center !important; background-color:transparent !important;
}


/* READING BOX */
.reading-box{
	padding:28px 28px 27px 31px;/*28px 28px 27px 31px*/
	border-left:3px solid rgba(103, 189, 60, 1);
	background:#f2efef;
	margin:0 0 20px;/*0 0 84px*/
}
.reading-box p{margin:0 !important;font-family: Lato, Arial, Helvetica, sans-serif; font-size:15px;}
.reading-box-container{position:relative;z-index:1;}
.reading-box{position:relative;}
/*END READIN BOX */

/* ================================================== */

/*COPIADO DE STYLE.CSS de PLANTILLA ADMINISTRACION*/
/*TILES*/
/***
Tiles(new in v1.1.1)
***/

.tiles {
  margin-right: -10px;
}

.tiles:before,
.tiles:after {
  display: table;
  content: " ";
}

.tiles:after {
  clear: both;
}

.tile {
  display: block;
  letter-spacing: 0.02em;
  float: left;
  height: 135px;
  width: 135px !important;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 20px;
  overflow: hidden;
  border: 4px solid transparent;
  margin: 0 10px 10px 0;
}

.tile:after,
.tile:before {
  content: "";
  float: left; 
}

.tile.double {
  width: 280px !important;
}

.tile.double-down {
  height: 280px !important;
}

.tile:active, .tile.selected {
  border-color: #ccc !important;
}

.tile:hover {
  border-color: #aaa !important;
}

.tile.selected .corner:after {  
  content: "";
  display: inline-block;
  border-left: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #ccc;
  position: absolute;
  top: -3px;
  right: -3px;
}

.tile.selected .check:after {  
  content: "";
  font-family: FontAwesome;
  font-size: 13px;
  content: "\f00c";
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 2px;
}

.tile * {
  color: #ffffff;
}

.tile .tile-body {
  height: 100%;
  vertical-align: top;
  padding: 10px 10px;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  color: #ffffff;
  margin-bottom: 10px;
}

.tile .tile-body img {
  float: left;
  margin-right: 10px;
}

.tile .tile-body img.pull-right {
  float: right !important;
  margin-left: 10px;
  margin-right: 0px;
}

.tile .tile-body .content {
  display: inline-block;
}

.tile .tile-body > i {
  margin-top: 17px;
  display: block;
  font-size: 56px;
  line-height: 56px;
  text-align: center;
}


.tile.double-down i {
  margin-top: 95px;
}

.tile .tile-body h1,
.tile .tile-body h2,
.tile .tile-body h3,
.tile .tile-body h4,
.tile .tile-body h5,
.tile .tile-body h6,
.tile .tile-body p {
  padding: 0;
  margin: 0;
  line-height: 14px;
}

.tile .tile-body h3,
.tile .tile-body h4 {
  margin-bottom: 5px;
}

.tile .tile-body h1:hover,
.tile .tile-body h2:hover,
.tile .tile-body h3:hover,
.tile .tile-body h4:hover,
.tile .tile-body h5:hover,
.tile .tile-body h6:hover,
.tile .tile-body p:hover {
  color: #ffffff;
}

.tile .tile-body p {
  font-weight: 400;
  font-size: 13px;
  color: #000000;
  color: #ffffff;
  line-height: 20px;
  overflow: hidden;
}

.tile .tile-body p:hover {
  color: rgba(0, 0, 0, 0.8);
}

.tile .tile-body p:active {
  color: rgba(0, 0, 0, 0.4);
}

.tile .tile-body p:hover {
  color: #ffffff;
}

.tile.icon > .tile-body {
  padding: 0;
}

.tile .tile-object {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 30px;
  background-color: transparent;
  *zoom: 1;
}

.tile .tile-object:before,
.tile .tile-object:after {
  display: table;
  content: "";
}

.tile .tile-object:after {
  clear: both;
}

.tile .tile-object > .name {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}

.tile .tile-object > .name > i {
  vertical-align: middle;
  display: block;
  font-size: 24px;
  height: 18px;
  width: 24px;
}

.tile .tile-object > .number {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 14px;
  margin-bottom: 8px;
  margin-right: 10px;
}

.tile.image > .tile-body {
  padding: 0 !important;
}

.tile.image > .tile-body > img{
  width: 100%;
  height: auto;
  min-height: 100%;
  max-width: 100%;
}

.tile.image .tile-body h3 {
  display: inline-block;
}



/*MODIFICACIONES A  LOS TILES*/
.tile.double {
  width: 277px !important;
}

.tile.double-down {
  height: 277px !important;
}

/*SOCIAL*/
.social-icons .google {background: url(../../../_img/google.png) no-repeat;}

/*LIKE FONT AWESOME*/
.fa-3dprinter{content: url(../../../_img/3d-printer-icon-128x128-blanco.png);}
.fa-google{content: url(../../../_img/google_256_blanco.png)  ; height:11px !important; width:12px !important;}
.fa-3dprinter_grey{content: url(../../../_img/3d-printer-icon-128x128_Ajustado_gris.png) ; }
.fa-3dprinter_black{content: url(../../../_img/3d-printer-icon-128x128_Ajustado_negro.png) ; }
.fa-3dprinter_grey2{content: url(../../../_img/3d-printer-icon-128x128_Ajustado_grey2.png) ; }
.fa-3dprinter_white{content: url(../../../_img/3d-printer-icon-128x128_Ajustado_white.png) ; }

.header-navigation .dropdown-menu > li > a:hover > fa-3dprinter_grey:after{content: url(../../../_img/3d-printer-icon-128x128_Ajustado_white.png) ; 
}

/* SEPARADOR MENU*/
.header-navigation li.divider span.sep{
	top: 29px !important;
	width: 1px !important ;
	height: 26px !important;
	background: #eaeaea !important;
	position: relative !important;
	margin: 0 18px 0 16px !important ;
	display: inline-block !important;
}
/*SUBMENU DE USUARIO LOGADO*/
@media (max-width: 1024px){
 	.dropdown-user .dropdown-menu{
		margin-left:0px; width:auto;
	}
}
@media (min-width: 1024px){
 	.dropdown-user .dropdown-menu{	margin-left:-150px; width:280px;}
	.dropdown-user .dropdown-menu .dropdown-toggle{height:40px !important;}
}
@media screen and (min-width: 1024px) and (max-width: 1206px){
 	.dropdown-user .dropdown-menu{	margin-left:0px; width:280px;}
	.dropdown-user .dropdown-menu .dropdown-toggle{height:40px !important;}
}
	
	
.form-actions [class^=col-]{padding-top:10px;padding-bottom:10px};


							